.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    padding: var(--space-2) var(--space-4);

    border-radius: var(--radius-lg);

    font-weight: 600;

    transition: var(--transition);
}

.btn-primary {
    background: var(--color-primary-500);
    color: white;

    &:hover {
        background: var(--color-primary-600);
    }
}

.btn-secondary {
    background: var(--color-primary-400);
    color: white;
}

.btn-outline {
    border: 2px solid var(--color-primary-500);
    color: var(--color-primary-500);
}

.btn-sm {
    padding: var(--space-1) var(--space-3);
    font-size: var(--text-sm);
}
