
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

N8N_HOST=
N8N_PORT=
N8N_PROTOCOL=
WEBHOOK_URL=
GENERIC_TIMEZONE=
N8N_ENCRYPTION_KEY=
N8N_BASIC_AUTH_ACTIVE=
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=

ASSISTANT_INTERNAL_SECRET=

DOCKERHUB_USERNAME=
API_IMAGE_TAG=

JWT_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_PUBLIC_BASE_URL=
AWS_CDN_BASE_URL=

ACME_EMAIL=

GEMINI_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
APP_LOGO_URL=
APP_WEB_URL=
DESKTOP_RESET_PASSWORD_URL=
MOBILE_RESET_PASSWORD_URL=